<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>Random Quote</title>
<title>LIST OF QUOTES</title>
</head>

<body>
<h1>{{ topic }} Random Quote</h1>
<p>{{ random_quote }}</p>

<p><a href="quotes.html">Go back to main page</a></p>
<p><button type="button" onclick="load quotes">I WANT ANOTHER QUOTE!!</button></p>

</body>

<style>
    body {
      background-image: url('https://img.freepik.com/premium-photo/abstract-luxury-gradient-blue-background-smooth-dark-blue-with-black-vignette-studio-banner_1258-72764.jpg');
      background-repeat: no-repeat;
      background-attachment: fixed;
      background-size: cover;
    </style>
  }

</html>
