<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>Random Quote</title>
<title>LIST OF QUOTES</title>
</head>

<style>
    body {
      background-image: url('https://img.freepik.com/premium-photo/abstract-luxury-gradient-blue-background-smooth-dark-blue-with-black-vignette-studio-banner_1258-72764.jpg');
      background-repeat: no-repeat;
      background-attachment: fixed;
      background-size: cover;
    }
    
    .container {
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            min-height: 10vh;
        }

</style>

<body>
  <h1 style="text-align:center;">{{ topic }} Random Quote</h1>
  <p style="text-align:center;">{{ random_quote }}</p>
  
  <div class="container">
  <button> <a href='/random/{{topic}}'>I want another quote</a></button>
  </div>
  <p style="text-align:center;"><a href="/home">Go back to main page</a></p>
  
</body>

</html>
