<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>MOTIVATIONAL QUOTES</title>
</head>

<body>
<h1 style="text-align:center;"><b>QUOTES</b></h1>
<h2 style="text-align:center;">Select a category:</h2>

<p style="text-align:center;">
<a href="/random/motivation"><img src="{{ url_for('static', filename='Images/motivation.jpeg')}}" alt="MOTIVATION" style="width:300px;height:170px;"></a>
<a href="/random/wisdom"><img src="{{ url_for('static', filename='Images/wisdom.jpg')}}" alt="WISDOM" style="width:300px;height:170px;"></a>
<a href="/random/family"><img src="{{ url_for('static', filename='Images/family.jpg')}}" alt="FAMILY" style="width:300px;height:170px;"></a><br clear="all"><br clear="all">
<a href="/random/happiness"><img src="{{ url_for('static', filename='Images/happiness.jpeg')}}" alt="HAPPINESS" style="width:300px;height:170px;"></a>
<a href="/random/pets"><img src="{{ url_for('static', filename='Images/pets.jpeg')}}" alt="PETS" style="width:300px;height:170px;"></a></p>

</body>
</html>